.MenuDetails {
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        width: 20% !important;
        margin-top: 20px;
        margin-right: 65px;
    }
    .fullCard {
        width: 100% !important;
        margin-right: 10px;
    }

    .fakeimg {
        background-color: #aaa;
        background-image: url('https://www.shopvy.in/manage/uploads/cp_categorise/20191120181037-2019-11-20cp_categorise181030.png');
        width: 100%;
        padding: 20px;
    }

    @media screen and (max-width: 600px) {
        .card {   
            width: 100% !important;
            padding: 20px;
            margin-right: 0px;
        }
    }

    .leftcolumn {   
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        flex-wrap: wrap;
    }

    .placeOrderButton {
        background-color: #00720d;
        color: white;
        height: 35px;
        width: 105px;
    }

    .addToCartButton {
        background-color: #37434d;
        color: white;
        height: 50px;
        width: 100px;
        padding: 20px;
        padding: 7px;
    }
}